<div class="container">
    <div class="row">
        <h3>Movies Search</h3>
    </div>
</div>
<div id="search-component" class="container">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" class="row" />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="search-result">
                <li *ngFor="let movies of movies$ | async">
                    <a routerLink="/detail/{{movies.id}}">
                                      {{movies.name}}
                                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>